@charset "UTF-8";
@import "fonts.css";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
@media (max-width: 768px) {
  html {
    scroll-padding-top: 65px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 0;
  background-color: inherit;
}

/* Удаляем стандартную стилизацию для всех ul и il */
ul,
ol {
  list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background-color: transparent;
}

/*-------------------------------------------------------------------------------------*/
:root {
  --black: #242424;
  --dark-grey: #5a5a5a;
  --white: #fff;
  --red: #f63235;
}

.lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

body {
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--black);
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

.def-title {
  text-align: center;
  font-weight: 500;
  font-size: calc(23px + 1.3157894737vw);
  line-height: 1.3em;
  color: #000;
  margin-bottom: 60px;
}
.def-title span {
  color: var(--red);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  border-bottom: 0.5px solid var(--dark-grey);
  background-color: var(--white);
  z-index: 30;
}
.header__wrapper {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 178px;
  height: 15px;
  overflow: hidden;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__inner {
  gap: 30px;
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__links {
  padding: 15px 0;
  color: var(--dark-grey);
  transition: all 0.3s;
}
.header__links:hover {
  color: var(--black);
}
.header__btn {
  padding: 15px 28px;
  border-radius: 10px;
  color: var(--white);
  border: 1px solid var(--red);
  background-color: var(--red);
  transition: all 0.3s;
}
.header__btn:hover {
  color: var(--red);
  background-color: transparent;
}
.header__menu-btn {
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  display: none;
}
.header__menu-btn span {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--black);
}
.header__menu-btn span::before, .header__menu-btn span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 32px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--black);
  transition: all 0.5s;
}
.header__menu-btn span::before {
  transform: translateY(-7px);
}
.header__menu-btn span::after {
  transform: translateY(7px);
}
.header__menu-btn.active span {
  height: 0;
}
.header__menu-btn.active span::before {
  transform: rotate(-45deg);
}
.header__menu-btn.active span::after {
  transform: rotate(45deg);
}
.header .header-menu {
  position: absolute;
  padding: 20px;
  left: 0;
  top: 65px;
  width: 100%;
  height: calc(100vh - 76px);
  transform: translateX(2000%);
  background-color: var(--white);
  overflow: auto;
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
  transition-timing-function: ease, ease-in;
}
@media (max-width: 369px) {
  .header .header-menu {
    top: 75px;
  }
}
.header .header-menu.active {
  transform: translateX(0);
}
.header .header-menu__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
}
.header .header-menu__list {
  margin-top: 130px;
  gap: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 400px) {
  .header .header-menu__list {
    margin-top: 40px;
  }
}
.header .header-menu__social-wrapper {
  display: flex;
  gap: 20px;
  padding: 0 0 40px;
}
.header .header-menu__social svg path {
  fill: var(--dark-grey);
}
.header .header-menu__social svg:active path {
  fill: var(--red);
}

#header__btn-form {
  display: block;
}

.hero {
  padding: 100px 0 60px;
}
.hero__container {
  height: 100%;
}
.hero__wrapper {
  position: relative;
  height: 100%;
  gap: 40px;
  display: flex;
  align-items: center;
}
.hero__content {
  width: 100%;
  max-width: 580px;
}
.hero__title {
  font-size: calc(30px + 1.3684210526vw);
  font-weight: 500;
  line-height: 1.3em;
  color: var(--black);
  margin-bottom: 20px;
}
.hero__title span {
  color: var(--red);
}
.hero__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3em;
  margin-bottom: 50px;
}
.hero__list {
  gap: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero__items {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.hero__num {
  font-size: 40px;
  font-weight: 600;
  line-height: 1em;
  color: var(--red);
}
.hero__desc {
  font-size: 22px;
  line-height: 1em;
}
.hero__bg {
  height: 600px;
  width: 100%;
  max-width: 800px;
  position: relative;
}
.hero__bg::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 600px;
  right: 0;
  bottom: -100px;
  background: url("../images/map.png") no-repeat center/contain;
  z-index: -1;
}

.services {
  padding: 100px 0;
}
.services__list {
  gap: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services__items {
  position: relative;
  width: 100%;
  max-width: 339px;
  padding: 50px 35px;
  border-radius: 30px;
  padding: 49px 55px 49px 35px;
  background-color: #f8f8f8;
  overflow: hidden;
  z-index: 1;
  transition: background-color 0.3s, color 0.3s;
}
.services__items::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.5s;
}
.services__items::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}
.services__items:nth-child(1)::after {
  background: url("../images/services-1.jpg") no-repeat center/cover;
}
.services__items:nth-child(2)::after {
  background: url("../images/services-2.jpg") no-repeat center/cover;
}
.services__items:nth-child(3) {
  max-width: 430px;
}
.services__items:nth-child(3)::after {
  background: url("../images/services-3.jpg") no-repeat center/cover;
}
.services__items:nth-child(4)::after {
  background: url("../images/services-4.jpg") no-repeat center/cover;
}
.services__items:nth-child(5) {
  max-width: 500px;
}
.services__items:nth-child(5)::after {
  background: url("../images/services-5.jpg") no-repeat center/cover;
}
.services__items:hover {
  color: var(--white);
}
.services__items:hover::before {
  background-color: rgba(246, 50, 53, 0.7);
}
.services__items:hover::after {
  opacity: 1;
}
.services__items-title {
  position: relative;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3em;
  margin-bottom: 10px;
  z-index: 2;
}
.services__text {
  position: relative;
  z-index: 2;
}

.advantages {
  padding: 100px 0;
}
.advantages__title {
  position: relative;
  z-index: 5;
}
.advantages__list {
  position: relative;
  gap: 25px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.advantages__list::before {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 600px;
  height: 700px;
  top: -320px;
  left: 47px;
  background: url("../images/countainer.png") no-repeat center/contain;
  animation: swing 2s infinite alternate ease;
  transform-origin: top center;
}
@keyframes swing {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
    /* Можете настроить угол раскачивания */
  }
}
.advantages__items {
  position: relative;
  width: 100%;
  max-width: 608px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #ededed;
  background-color: var(--white);
  gap: 15px;
  display: flex;
  align-items: center;
}
.advantages__items:nth-child(1) {
  z-index: 5;
}
.advantages__items:nth-child(2) {
  z-index: 5;
}
.advantages__numbers {
  color: var(--red);
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3em;
}
.advantages__text {
  font-size: 18px;
  line-height: 1.3em;
}

.process {
  padding: 100px 0;
}
.process__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.process__items {
  position: relative;
  gap: 15px;
  display: flex;
  padding: 50px;
}
.process__items:nth-child(1)::before {
  content: "";
  position: absolute;
  height: 60%;
  width: 2px;
  bottom: 0;
  left: 64px;
  background: url("../images/arrow.png") no-repeat center/cover;
  z-index: -1;
}
.process__items:nth-child(2)::before {
  content: "";
  position: absolute;
  height: 60%;
  width: 2px;
  bottom: 0;
  left: 64px;
  background: url("../images/arrow.png") no-repeat center/cover;
  z-index: -1;
}
.process__items:nth-child(3) {
  display: flex;
  justify-content: center;
  grid-column: 1/3;
  border-top: 1px solid var(--black);
  border-right: 1px solid var(--black);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.process__items:nth-child(3)::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 90%;
  max-width: 700px;
  height: 20px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom-right-radius: 20px;
}
.process__items:nth-child(3) > div > .process__numbers::before {
  content: "";
  position: absolute;
  height: 95px;
  width: 2px;
  bottom: -104px;
  background: url("../images/arrow.png") no-repeat center/cover;
  height: 50px;
  bottom: 34px;
}
.process__items:nth-child(4) {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.process__items:nth-child(4)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 140%;
  height: 20px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom-left-radius: 20px;
}
.process__items:nth-child(4) > div > .process__numbers::before {
  content: "";
  position: absolute;
  height: 95px;
  width: 2px;
  bottom: -104px;
  background: url("../images/arrow.png") no-repeat center/cover;
  height: 50px;
  bottom: 34px;
}
.process__items:nth-child(5) > div > .process__numbers::before {
  content: "";
  position: absolute;
  height: 55px;
  width: 2px;
  top: -55px;
  background: url("../images/arrow.png") no-repeat center/cover;
}
.process__items:nth-child(5) > div > .process__numbers::before > div > .process__numbers::before {
  height: 50px;
  bottom: 34px;
}
.process__items:nth-child(6) > div > .process__numbers::before {
  content: "";
  position: absolute;
  height: 95px;
  width: 2px;
  bottom: -104px;
  background: url("../images/arrow.png") no-repeat center/cover;
}
.process__items:nth-child(6) > div > .process__numbers::before {
  height: 50px;
  bottom: 34px;
}
.process__items:nth-child(7) > div > .process__numbers::before {
  content: "";
  position: absolute;
  height: 95px;
  width: 2px;
  bottom: -104px;
  background: url("../images/arrow.png") no-repeat center/cover;
}
.process__items:nth-child(7) > div > .process__numbers::before {
  height: 50px;
  bottom: 34px;
}
.process__numbers {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--red);
}
.process__numbers::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 17px;
  border: 1px solid var(--red);
}
.process__items-title {
  font-size: 22px;
  line-height: 1.3em;
}
.process__text {
  max-width: 500px;
}

.appliaction {
  padding: 50px 0 100px;
  color: var(--white);
}
.appliaction__wrapper {
  position: relative;
  padding: 50px;
  border-radius: 30px;
  background: url("../images/application-bg.png") no-repeat center/cover;
  gap: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.appliaction .form-successfully {
  position: absolute;
  left: 0;
  bottom: -60px;
  padding: 25px;
  border-radius: 15px;
  -moz-columns: var(--white);
       columns: var(--white);
  background-color: var(--red);
  margin-top: 10px;
  transform: translateX(-100%);
  opacity: 0;
  height: 0;
  transition: all 0.3s;
}
.appliaction .form-successfully.active {
  opacity: 1;
  height: auto;
  transform: translateX(0);
}
.appliaction .form-successfully__text {
  font-size: 16px;
  max-width: 400px;
}
.appliaction__img-wrapper {
  position: relative;
  width: 100%;
  max-width: 520px;
  height: 100%;
  max-height: 503px;
  overflow: hidden;
}
.appliaction__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.appliaction__img:nth-child(2) {
  display: none;
}
.appliaction__content {
  width: 100%;
  max-width: 570px;
}
.appliaction__title {
  color: var(--white);
  margin-bottom: 0;
  text-align: left;
}
.appliaction__subtitle {
  font-weight: 500;
  line-height: 1.3em;
  margin-bottom: 50px;
  font-size: 18px;
}
.appliaction .form__inputs-wrapper {
  position: relative;
  gap: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  max-width: 410px;
}
.appliaction .form__label {
  font-size: 18px;
  line-height: 1.3em;
}
.appliaction .form__inputs {
  width: 100%;
  font-size: 18px;
  padding: 8px 15px;
  border-radius: 15px;
  background-color: var(--white);
}
.appliaction .form__inputs:focus {
  outline: none;
}
.appliaction .form__reset-wrapper {
  position: relative;
  width: 100%;
  max-width: 410px;
}
.appliaction .form__btn-reset {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 10px;
  right: 15px;
  background: url("../images/reset.svg") no-repeat center/cover;
}
.appliaction .form__btn {
  width: 100%;
  max-width: 410px;
  padding: 8px 15px;
  border-radius: 15px;
  color: var(--white);
  background-color: var(--red);
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3em;
  color: var(--white);
  margin-top: 17px;
  outline: none;
}
.appliaction .form__btn:active {
  outline: none;
  background-color: #eb0e12;
}
.appliaction .form .custom-select {
  position: relative;
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.appliaction .form .custom-select__arrow {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 12px;
  top: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s;
}
.appliaction .form .custom-select__arrow svg {
  width: 10px;
  height: 10px;
}
.appliaction .form .custom-select__arrow.active {
  left: 12px;
}
.appliaction .form .custom-select__input {
  cursor: pointer;
  font-size: 18px;
  padding: 8px 15px 8px 45px;
  width: 100%;
  max-width: 410px;
  border-radius: 15px;
  background-color: var(--white);
  outline: none;
  transition: all 0.3s;
}
.appliaction .form .custom-select__input.active {
  border-radius: 15px 15px 15px 0;
}
.appliaction .form .custom-select__wrapper {
  position: absolute;
  transition: all 0.3s;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 0;
  transform: translateY(-100%);
  border-radius: 0 0 10px 10px;
  z-index: -1;
  overflow: hidden;
  box-shadow: -1px 34px 37px -3px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: -1px 34px 37px -3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -1px 34px 37px -3px rgba(0, 0, 0, 0.7);
}
.appliaction .form .custom-select__wrapper.active {
  z-index: 1;
  height: auto;
  transform: translateY(55%);
}
.appliaction .form .custom-select__options {
  padding: 5px 10px;
  background-color: var(--white);
  transition: all 0.3s;
}
.appliaction .form .custom-select__options span {
  display: none;
}
.appliaction .form .custom-select__options:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.appliaction .form .custom-select__options:not(:last-child) {
  border-bottom: 0.5px solid var(--dark-grey);
}
.appliaction .form .custom-select__options:last-child {
  border-radius: 0 0 10px 10px;
}

.types {
  padding: 100px 0;
}
.types .shipping {
  color: var(--white);
  margin-bottom: 40px;
}
.types .shipping__title {
  -moz-text-align-last: left;
       text-align-last: left;
  color: var(--black);
  margin-bottom: 40px;
}
.types .shipping__list {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}
.types .shipping__items {
  position: relative;
  padding: 30px;
  border-radius: 35px;
  gap: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.types .shipping__items::before {
  content: "";
  position: absolute;
  border-radius: 35px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(92, 92, 92, 0.8);
  transition: all 0.5s;
}
.types .shipping__items:hover::before {
  background: rgba(246, 50, 53, 0.8);
}
.types .shipping__items:hover .shipping__text {
  opacity: 1;
}
.types .shipping__items:hover .shipping__desc {
  opacity: 1;
}
.types .shipping__items:hover .shipping__desc-title {
  opacity: 1;
}
.types .shipping__items:nth-child(1) {
  background: url("../images/shipping-1.jpg") no-repeat center/cover;
}
.types .shipping__items:nth-child(2) {
  background: url("../images/shipping-2.jpg") no-repeat center/cover;
}
.types .shipping__items:nth-child(3) {
  background: url("../images/shipping-3.jpg") no-repeat center/cover;
}
.types .shipping__text {
  position: relative;
  opacity: 0;
  z-index: 1;
  transition: all 0.5s;
}
.types .shipping__desc-wrapper {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.types .shipping__desc-title {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3em;
  color: #f3f3f3;
  opacity: 0;
  z-index: 2;
  transition: all 0.3s;
}
.types .shipping__desc {
  display: block;
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 1.3em;
  opacity: 0;
  transition: all 0.5s;
}
.types .shipping__desc span {
  position: relative;
  font-weight: 500;
  z-index: 1;
  margin-left: 5px;
  -moz-columns: var(--white);
       columns: var(--white);
}
.types .shipping__inner-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3em;
  position: relative;
  z-index: 1;
}
.types .package__title {
  text-align: right;
  margin-bottom: 40px;
}
.types .package__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
}
.types .package__blocks {
  position: relative;
  width: 100%;
  max-width: 100%;
  color: var(--white);
  padding: 20px 25px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  transition: all 0.3s;
}
.types .package__blocks::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}
.types .package__blocks::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(248, 248, 248, 0.8);
  z-index: 1;
  transition: all 0.3s;
}
.types .package__blocks:hover::before {
  transform: scale(1.1);
}
.types .package__blocks:hover::after {
  background: rgba(92, 92, 92, 0.8);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.types .package__blocks:hover .package__inner-title {
  color: var(--white);
}
.types .package__blocks:hover .package__list {
  opacity: 1;
}
.types .package__blocks:hover .package__price {
  opacity: 1;
}
.types .package__blocks:nth-child(1) {
  border-radius: 30px 0 0 0;
}
.types .package__blocks:nth-child(1)::before {
  border-radius: 30px 0 0 0;
  background: url("../images/package-1.jpg") no-repeat center/cover;
}
.types .package__blocks:nth-child(2) {
  border-radius: 0 30px 0 0;
}
.types .package__blocks:nth-child(2)::before {
  border-radius: 0 30px 0 0;
  background: url("../images/package-2.jpg") no-repeat center/cover;
}
.types .package__blocks:nth-child(3) {
  border-radius: 0 0 0 30px;
}
.types .package__blocks:nth-child(3)::before {
  border-radius: 0 0 0 30px;
  background: url("../images/package-3.jpg") no-repeat center/cover;
}
.types .package__blocks:nth-child(4) {
  border-radius: 0 0 30px 0;
}
.types .package__blocks:nth-child(4)::before {
  border-radius: 0 0 30px 0;
  background: url("../images/package-4.jpg") no-repeat center/cover;
}
@media (max-width: 1129px) {
  .types .package__blocks:nth-child(1) {
    border-radius: 30px 30px 0 0;
  }
  .types .package__blocks:nth-child(1)::before {
    border-radius: 30px 30px 0 0;
  }
  .types .package__blocks:nth-child(2) {
    border-radius: 0 0 0 0;
  }
  .types .package__blocks:nth-child(2)::before {
    border-radius: 0 0 0 0;
  }
  .types .package__blocks:nth-child(3) {
    border-radius: 0 0 0 0;
  }
  .types .package__blocks:nth-child(3)::before {
    border-radius: 0 0 0 0;
  }
  .types .package__blocks:nth-child(4) {
    border-radius: 0 0 30px 30px;
  }
  .types .package__blocks:nth-child(4)::before {
    border-radius: 0 0 30px 30px;
  }
}
.types .package__list {
  position: relative;
  padding-left: 20px;
  list-style-type: disc;
  z-index: 2;
  opacity: 0;
  transition: all 0.3s;
}
.types .package__items:not(:last-child) {
  margin-bottom: 7px;
}
.types .package__text {
  font-size: 20px;
}
.types .package__inner {
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: space-between;
}
.types .package__price {
  position: relative;
  opacity: 0;
  z-index: 2;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3em;
  color: var(--white);
  transition: all 0.3s;
}
.types .package__price span {
  font-size: 28px;
}
.types .package__inner-title {
  position: relative;
  text-align: right;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3em;
  color: #545454;
  z-index: 2;
  transition: all 0.3s;
}

.employee {
  padding: 100px 0;
}
.employee__wrapper {
  gap: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.employee__content {
  width: 100%;
  max-width: 557px;
}
.employee__inner-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.3em;
  color: #393939;
  margin-bottom: 1px;
}
.employee__text {
  font-size: 24px;
  line-height: 1.3em;
  color: #525252;
}
.employee__blocks {
  position: relative;
  width: 333px;
  height: 273px;
}
.employee__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.employee__text-wrapper {
  position: absolute;
  width: 100%;
  max-width: 295px;
  bottom: 30px;
  padding: 10px;
  left: 0;
  background-color: var(--white);
}
.employee__name {
  font-weight: 500;
  font-size: 19px;
  line-height: 1.3em;
  color: #393939;
}
.employee__post {
  color: var(--red);
}
.employee__swiper {
  position: relative;
}
.employee .swiper {
  width: 100%;
  max-width: 667px;
  height: 545px;
  border-radius: 33px;
}
.employee .swiper-button-prev,
.employee .swiper-button-next {
  position: absolute;
  width: 50px;
  top: 495px;
  margin-top: 0;
}
.employee .swiper-button-prev::after, .employee .swiper-button-prev::before,
.employee .swiper-button-next::after,
.employee .swiper-button-next::before {
  display: none;
}
.employee .swiper-button-prev svg path,
.employee .swiper-button-next svg path {
  stroke: var(--black);
}
.employee .swiper-button-prev {
  left: 730px;
}
.employee .swiper-button-next {
  right: -200px;
  transform: rotate(-180deg);
}

.faq {
  padding: 100px 0;
}
.faq__title {
  text-align: center;
}
.faq__wrapper {
  gap: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.faq .faq-content {
  width: 100%;
  max-width: 460px;
}
.faq .faq-content__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.3em;
  color: var(--black);
  margin-bottom: 25px;
}
.faq .faq-content__text {
  color: #525252;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 60px;
}
.faq .faq-content__btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3em;
  color: var(--white);
  padding: 15px 40px;
  width: 100%;
  max-width: 220px;
  border-radius: 15px;
  border: 1px solid var(--red);
  background-color: var(--red);
  transition: all 0.3s;
}
.faq .faq-content__btn:hover {
  color: var(--red);
  background-color: transparent;
}
.faq .accordion {
  width: 100%;
  max-width: 725px;
}
.faq .accordion__list {
  border: 1px solid #e8e8e8;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
}
.faq .accordion__top {
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 20px 45px 20px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3em;
  color: var(--black);
}
.faq .accordion__top::after, .faq .accordion__top::before {
  content: "";
  position: absolute;
  top: 31px;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--red);
  transition: all 0.3s;
}
.faq .accordion__top::after {
  right: 20px;
}
.faq .accordion__top::before {
  right: 20px;
  transform: rotate(90deg);
}
.faq .accordion__top.active::before {
  transform: rotate(0deg);
}
.faq .accordion__content {
  position: relative;
  line-height: 1.3em;
  width: 100%;
  padding: 0;
  display: none;
  transform: translateY(-100%) scale(0);
  z-index: -1;
  transition: all 0.3s;
}
.faq .accordion__content.active {
  display: block;
  padding: 20px;
  transform: translateY(0) scale(1);
}
.faq .accordion__content span {
  display: block;
}

.footer {
  padding: 55px 0 0;
  background: url("../images/application-bg.png") no-repeat center/cover;
}
.footer__wrapper {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__logo-wrapper {
  width: 178px;
  height: 15px;
  overflow: hidden;
}
.footer__logo-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__list {
  gap: 30px;
  display: flex;
  align-items: center;
}
.footer__links {
  color: var(--white);
  transition: all 0.3s;
}
.footer__links:hover {
  color: var(--red);
}
.footer__social {
  gap: 15px;
  display: flex;
  align-items: center;
}
.footer svg:hover path {
  fill: var(--red);
}
.footer__copy {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
  border-top: 1px solid var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  gap: 4px;
}

@media (max-width: 1200px) {
  .header__btn {
    padding: 8px 10px;
    font-size: 13px;
  }
  .header__list {
    gap: 15px;
  }
  .hero__bg::after {
    width: 600px;
    height: 400px;
    bottom: 0;
  }
  .employee__blocks {
    height: 235px;
  }
  .employee .swiper {
    max-width: 550px;
    height: 470px;
  }
  .employee .swiper-button-prev,
  .employee .swiper-button-next {
    top: 450px;
  }
  .employee .swiper-button-prev {
    left: 600px;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 20px 0;
  }
  .header__logo {
    width: 140px;
    height: 13px;
  }
  .header__links {
    font-size: 13px;
  }
  .header__inner {
    gap: 15px;
  }
  .hero__bg::after {
    width: 430px;
    height: 300px;
    bottom: 100px;
  }
  .services {
    padding: 80px 0;
  }
  .advantages {
    padding: 80px 0;
  }
  .advantages__list::before {
    top: -303px;
    left: -70px;
    height: 545px;
  }
  .advantages__items:nth-child(3) {
    z-index: -1;
  }
  .appliaction {
    padding: 60px 0;
  }
  .process {
    padding: 80px 0;
  }
  .process__items {
    padding: 30px;
  }
  .process__items:nth-child(1)::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 2px;
    bottom: 0;
    left: 44px;
    background: url("../images/arrow.png") no-repeat center/cover;
    z-index: -1;
  }
  .process__items:nth-child(2)::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 2px;
    bottom: 0;
    left: 44px;
    background: url("../images/arrow.png") no-repeat center/cover;
    z-index: -1;
  }
  .process__items:nth-child(3) > div > .process__numbers::before {
    height: 30px;
  }
  .process__items:nth-child(3) > .process__inner > .process__text {
    max-width: 300px;
  }
  .process__items:nth-child(4) > div > .process__numbers::before {
    height: 30px;
  }
  .process__items:nth-child(5) > div > .process__numbers::before {
    height: 30px;
  }
  .process__items:nth-child(5) > div > .process__numbers::before {
    height: 30px;
    top: -35px;
  }
  .process__items:nth-child(6) > div > .process__numbers::before {
    height: 30px;
  }
  .process__items:nth-child(7) > div > .process__numbers::before {
    height: 30px;
  }
  .employee {
    padding: 80px 0;
  }
  .employee__wrapper {
    gap: 40px;
    flex-direction: column-reverse;
  }
  .employee__inner-title {
    font-size: 27px;
  }
  .employee__text {
    font-size: 20px;
  }
  .employee .swiper-button-next,
  .employee .swiper-button-prev {
    top: 485px;
  }
  .employee .swiper-button-prev {
    left: 30%;
    transform: translateX(-38%);
  }
  .employee .swiper-button-next {
    right: 30%;
    transform: rotate(-180deg) translateX(-38%);
  }
  .faq {
    padding: 80px 0;
  }
  .faq .faq-content__title {
    font-size: 28px;
  }
  .faq .faq-content__text {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .faq .accordion__top {
    font-size: 16px;
  }
  .footer__list {
    order: 1;
  }
}
@media (max-width: 768px) {
  .def-title {
    margin-bottom: 30px;
  }
  .header {
    padding: 10px 0;
  }
  .header__inner {
    gap: 20px;
  }
  .header__list {
    display: none;
  }
  .header__btn {
    font-weight: 300;
  }
  .header__menu-btn {
    position: relative;
    z-index: 10;
    display: flex;
  }
  .hero {
    padding: 100px 0 0;
  }
  .hero__content {
    align-self: flex-start;
  }
  .hero__title {
    font-size: calc(30px + 44.2 * (100vw - 320px) / 1300);
  }
  .hero__subtitle {
    margin-bottom: 30px;
  }
  .hero__wrapper {
    flex-direction: column;
  }
  .hero__bg {
    height: 400px;
  }
  .hero__bg::after {
    width: 100%;
    max-width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  .services {
    padding: 0 0 60px;
  }
  .services__list {
    gap: 35px;
  }
  .advantages {
    padding: 60px 0;
  }
  .advantages__numbers {
    font-size: 30px;
    line-height: 1.3em;
  }
  .advantages__text {
    font-size: 16px;
  }
  .appliaction__wrapper {
    gap: 15px;
    align-items: center;
    flex-direction: column;
  }
  .appliaction__img-wrapper {
    max-height: 100%;
  }
  .appliaction__img:nth-child(1) {
    display: none;
  }
  .appliaction__img:nth-child(2) {
    display: block;
  }
  .appliaction .form .custom-select__input {
    padding: 8px 15px 8px 50px;
  }
  .process {
    padding: 60px 0;
  }
  .process__items:nth-child(4)::after {
    width: 188%;
  }
  .process__items:nth-child(6)::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--black);
    z-index: -1;
  }
  .process__items:nth-child(7)::after {
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid var(--black);
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -1;
  }
  .types {
    padding: 60px 0;
  }
  .types .shipping__items {
    pointer-events: none;
  }
  .types .shipping__items .shipping__text {
    opacity: 1;
  }
  .types .shipping__items .shipping__desc {
    opacity: 1;
  }
  .types .shipping__items .shipping__desc-title {
    opacity: 1;
  }
  .types .package__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .types .package__text {
    font-size: 16px;
  }
  .types .package__price {
    font-size: 16px;
  }
  .types .package__price span {
    font-size: 18px;
  }
  .types .package__inner-title {
    font-size: 22px;
  }
  .employee {
    padding: 60px 0;
  }
  .employee__blocks {
    height: 200px;
  }
  .employee__text-wrapper {
    padding: 5px;
    bottom: 15px;
  }
  .employee__name {
    font-size: 14px;
  }
  .employee__inner-title {
    font-size: 23px;
  }
  .employee__text {
    font-size: 17px;
  }
  .employee .swiper {
    max-width: 400px;
    height: 400px;
    border-radius: 20px;
  }
  .employee .swiper-button-next,
  .employee .swiper-button-prev {
    top: 420px;
  }
  .faq {
    padding: 60px 0;
  }
  .faq__wrapper {
    gap: 40px;
    flex-direction: column-reverse;
  }
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__list {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .header__logo {
    width: 71px;
    height: 25px;
  }
  .header__logo img:nth-child(1) {
    display: none;
  }
  .header__logo img:nth-child(2) {
    display: block;
  }
  .header__btn {
    padding: 9px 14px;
  }
  .hero__wrapper {
    gap: 20px;
  }
  .hero__bg {
    height: 300px;
  }
  .hero__bg::after {
    background: url(../images/map.png) no-repeat center/cover;
  }
  .hero__list {
    gap: 20px;
  }
  .hero__num {
    font-size: 26px;
  }
  .hero__title {
    margin-bottom: 10px;
  }
  .hero__desc {
    font-size: 18px;
    border-radius: 5px;
  }
  .services {
    padding: 0 0 25px;
  }
  .services__list {
    gap: 20px;
  }
  .services__items {
    max-width: 100%;
    padding: 20px;
    pointer-events: none;
  }
  .services__items-title {
    font-size: 20px;
  }
  .advantages {
    padding: 25px 0;
  }
  .advantages__list::before {
    display: none;
  }
  .advantages__text {
    font-size: 14px;
  }
  .advantages__numbers {
    font-size: 26px;
  }
  .appliaction {
    padding: 25px 0;
  }
  .appliaction__wrapper {
    padding: 20px;
  }
  .appliaction__title {
    margin-bottom: 5px;
  }
  .appliaction__subtitle {
    margin-bottom: 30px;
  }
  .appliaction .form .form-successfully {
    padding: 15px;
  }
  .appliaction .form .form-successfully.active {
    transform: translateX(0);
    opacity: 1;
    height: auto;
  }
  .appliaction .form .form-successfully__text {
    font-size: 14px;
  }
  .appliaction .form .form-successfully__close {
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
    right: 10px;
    top: 10px;
    background-color: var(--white);
    border-radius: 12px;
  }
  .process {
    padding: 25px 0;
  }
  .process__list {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .process__list::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 85%;
    left: 0;
    top: 45px;
    background-color: #5A5A5A;
  }
  .process__items:nth-child(1) {
    order: 1;
  }
  .process__items:nth-child(1)::before {
    top: 26px;
    left: 19px;
    height: 40px;
    transform: rotate(90deg);
  }
  .process__items:nth-child(2) {
    order: 3;
  }
  .process__items:nth-child(2)::before {
    top: 26px;
    left: 19px;
    height: 40px;
    transform: rotate(90deg);
  }
  .process__items:nth-child(3) {
    justify-content: start;
    border: none;
    order: 2;
    grid-column: 1;
  }
  .process__items:nth-child(3)::after {
    display: none;
  }
  .process__items:nth-child(3) > div > .process__numbers::before {
    top: 1px;
    left: -20px;
    height: 27px;
    transform: rotate(90deg);
  }
  .process__items:nth-child(4) {
    order: 5;
    border: none;
  }
  .process__items:nth-child(4)::after {
    display: none;
  }
  .process__items:nth-child(4) > div > .process__numbers::before {
    top: 1px;
    left: -20px;
    height: 27px;
    transform: rotate(90deg);
  }
  .process__items:nth-child(5) {
    order: 4;
  }
  .process__items:nth-child(5) > div > .process__numbers::before {
    top: 1px;
    left: -20px;
    height: 27px;
    transform: rotate(90deg);
  }
  .process__items:nth-child(6) {
    order: 6;
  }
  .process__items:nth-child(6)::after {
    display: none;
  }
  .process__items:nth-child(6) > div > .process__numbers::before {
    top: 1px;
    left: -20px;
    height: 27px;
    transform: rotate(90deg);
  }
  .process__items:nth-child(7) {
    order: 7;
    border: none;
  }
  .process__items:nth-child(7)::after {
    display: none;
  }
  .process__items:nth-child(7) > div > .process__numbers::before {
    top: 1px;
    left: -20px;
    height: 27px;
    transform: rotate(90deg);
  }
  .types {
    padding: 25px 0;
  }
  .types .shipping__list {
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  }
  .types .shipping__items {
    padding: 20px;
    gap: 40px;
  }
  .types .package__blocks {
    pointer-events: none;
  }
  .types .package__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  }
  .types .package__blocks {
    padding: 15px;
  }
  .types .package__blocks::after {
    background: rgba(92, 92, 92, 0.8);
  }
  .types .package__list {
    opacity: 1;
  }
  .types .package__price {
    opacity: 1;
    font-size: 14px;
  }
  .types .package__price span {
    font-size: 16px;
  }
  .types .package__inner-title {
    color: var(--white);
  }
  .employee {
    padding: 25px 0;
  }
  .employee__blocks {
    width: 100%;
    height: 170px;
  }
  .employee__text-wrapper {
    max-width: 165px;
  }
  .employee__name {
    font-size: 13px;
  }
  .employee__post {
    font-size: 12px;
  }
  .employee__inner-title {
    font-size: 22px;
  }
  .employee__text {
    font-size: 15px;
  }
  .employee__swiper {
    width: 100%;
  }
  .employee .swiper {
    max-width: 100%;
    height: 338px;
  }
  .employee .swiper-button-next,
  .employee .swiper-button-prev {
    top: 350px;
  }
  .faq {
    padding: 25px 0 50px;
  }
  .faq .accordion__top {
    font-size: 14px;
  }
  .faq .faq-content__title {
    max-width: 260px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .faq .faq-content__text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .faq .faq-content__btn {
    font-size: 14px;
    padding: 15px 20px;
    border-radius: 10px;
  }
  .footer__wrapper {
    display: grid;
  }
  .footer__logo-wrapper {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 71px;
    height: 25px;
    align-self: flex-start;
  }
  .footer__logo-wrapper img:nth-child(1) {
    display: none;
  }
  .footer__logo-wrapper img:nth-child(2) {
    display: block;
  }
  .footer__list {
    order: 0;
    align-items: end;
    gap: 15px;
    grid-column: 2/2;
    grid-row: 1/3;
  }
  .footer__links {
    text-align: right;
  }
  .footer__social {
    grid-column: 1/2;
    grid-row: 2/3;
    flex-wrap: wrap;
  }
  .footer__social-links svg {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 430px) {
  .footer__social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .header-menu {
    display: none;
  }
}